/* nav section fixed */

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    height: 120px;
    background-color: #4056A1;
    color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}


/* tweeter logo- left side of nav */

.logo {
    font-family: bungee;
}


/* right side of nav section */

.nav-right {
    text-align: center;
}