/* nav section fixed */

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    height: 120px;
    background-color: #4056A1;
    color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}


/* tweeter logo- left side of nav */

.logo {
    font-family: bungee;
}
.new-tweet-link {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
  }
  
  .new-tweet-link p {
    font-size: 25px;
    margin-bottom: 5px;
    color: #FFF;
  }
  
  /* add double arrow in nav*/
  #double-arrow{
    color: crimson;
    justify-content: center;
  }
  
  #double-arrow:hover {
    color: white;
  }

